/* === GERAL ===================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 550;

  --primary-color: hsl(var(--hue), 100%, 26%);
  --gray-headline: hsl(210, 11%, 15%);
  --gray-paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) - 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--brand-light-2);

  overflow:  overlay;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img{
  max-width: 100%;
}

section{
  padding-block: 10rem;
}

section h1{
  font-size: 3.4rem;
  color: var(--gray-headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section h2{
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--gray-headline);
  margin-bottom: 6rem;
}

section h3{
  color: var(--gray-headline);
  line-height: 130%;
}

section h4{
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

section p{
  line-height: 150%;
  font-size: 1.6rem;
  color: var(--gray-paragraph);
}

.button {
  background-color: var(--primary-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;
  transition: background 300ms;
}

.button:hover {
  background-color: var(--brand-dark);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/*=== NAVIGATION ==================================*/

#navigation {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

#navigation .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navigation .logo path[fill*='#00856F'],
#backToTopButton circle{
  fill: var(--primary-color);
}

#navigation.scroll {
  background-color: var(--primary-color);
}

#navigation.scroll .logo path {
  fill: white;
}

#navigation .open-menu path {
  stroke: var(--primary-color);
}

#navigation.scroll .open-menu path {
  stroke: white;
}

#navigation button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*=== MENU-EXPANDED ===============================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: opacity 500ms;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  border: 1px solid white;
  color: white;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
  position: relative;
  z-index: 100;
}

body.menu-expanded #navigation .logo path{
  fill: white;
}


/*=== HEADER ==========================================*/

#home {
  padding-top: calc(4.1rem + var(--nav-height));
  padding-bottom: 0;
}

#home::before {
  content: '';
  width: 100%;
  height: calc(77% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .content p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

#home .button {
  margin-inline: auto;
}

#home img {
  display: block;
  margin-inline: auto;
  width: 26.2rem;
  object-position: 0 2rem;
}

#home .stats {
  background-color: var(--brand-beige);
  border: 0.1rem solid var(--brand-light);
  border-radius: 0.6rem;

  width: 100%;
  margin-inline: auto;
  padding-block: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  margin-bottom: 0.4rem;
}

#home .stat p {
  color: var(--primary-color);
}


/*=== SERVICES ===============================*/

#services .cards{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card{
  padding: 2.4rem;
  text-align: left;
  background: white;
  border: 1px solid var(--brand-light);
  border: 1px solid #DCE9E2;
  border-radius: .6rem;
}

#services .card h3{
  margin-block: 1.6rem;
  font-size: 2.4rem;
}

#services .card circle {
  fill: var(--brand-light);
}

#services .card path {
  stroke: var(--primary-color);
}

/*=== ABOUT ===============================*/

#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p{
  margin-bottom: 6rem;
}

/*=== CONTACT ===============================*/

#contact{
  text-align: left;
}

#contact header h2{
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}

#contact ul li{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact ul path {
  stroke: var(--primary-color);
}

/*=== FOOTER ===============================*/

footer {
  padding-block: 6rem;
  background-color: var(--primary-color);
  text-align: left;
}

footer .logo svg{
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path{
  fill: white;
}

footer p{
  color: var(--brand-beige);
  line-height: 2;
  margin-block: 2.4rem 3.2rem;

}

footer .social-links {
  justify-content: flex-start;
}

/*=== BACK TO TOP ===============================*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;
  
  transform: translateY(150%);
  transition: 200ms;

}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

}

/*=== RESPONSIVO ===============================*/

@media (min-width: 1024px) {

  /*=== GERAL ===============================*/

  body {
    overflow: auto; 
  }
  
  .wrapper {
    width: min(112rem,  100%);
    display: grid;
  }

  section {
    padding-block: 16rem;
  }

  section .col-a {
    grid-area: A;
  }

  section .col-b {
    grid-area: B;
  }

  section header h2{
    font-size: 4rem;
    line-height: 5.2rem;
    color: var(--gray-headline);
  }
  
  section h3{
    color: var(--gray-headline);
    line-height: 3.1rem;
  }

  /*=== NAVIGATION ===============================*/

  /* reset */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
    transition: initial;
  }

  nav#navigation .open-menu,
  nav#navigation .close-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
    transition: opacity 700ms;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;
    
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;

    transition: 400ms;

  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light-2);
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    color: white;
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: white;
    color: var(--primary-color);
  }

  nav#navigation .menu ul li a.active,
  nav#navigation .menu ul li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    display: block;

    position: relative;
    bottom: -2rem;
    left: -0.5rem;

    transition: width 300ms;
  }

  nav#navigation.scroll .menu ul li a::after {
    background-color: white;
  }

  nav#navigation .menu ul li a.active:after,
  nav#navigation .menu ul li a:hover:after {
    width: 100%;
    padding-inline: 0.5rem;
  }

  /*=== HOME ===============================*/
  #home {
    padding-top: var(--nav-height);
  }

  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 
    'A B'
    'C C';
  }

  #home h1 {
    font-size: 5.2rem;
  } 

  #home .col-a {
    text-align: left;
    align-self: center; 
  }

  #home .stats {
    grid-area: C;

    flex-direction: row;
    gap: 0;
    padding: 6rem;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #home .stats .stat {
    flex: 1;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  /*=== SERVICES ===============================*/

  #services h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap; /* encaixa mas respeita o tamanho do conteudo */
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }


  /*=== ABOUT ===============================*/

  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /*=== CONTACT ===============================*/

  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
    gap: 14.1rem
  }


  /*=== FOOTER ===============================*/

  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-a {
    align-self: center;
  }

  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }

  footer p {
    margin-bottom: 0
  }
}